{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
    <title>{% block title %}My Site{% endblock %}</title>
    
    <!-- Include scripts in the head -->
    <script src="{% static 'javascript/jquery.min.js' %}"></script>
    <script src="{% static 'javascript/popper.min.js' %}"></script>
    <script src="{% static 'javascript/bootstrap.min.js' %}"></script>
    <script src="{% static 'javascript/bootstrap-stackpath.min.js' %}"></script>
    <script src="{% static 'javascript/popper-core.min.js' %}"></script>
    <script src="{% static 'javascript/qrious.min.js' %}"></script>
</head>

<body>
    {% include 'navbar.html' %}


    {% block content %}
    
    {% endblock %}
</body>

</html>
